@import url('/lichtenberg/vendor/fontawesome/css/font-awesome.css');

#lichtenberg {
  font: 20px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 60px 50px;
}
#lichtenberg h1 {
  font-size: 1em;
  font-weight: 200;
}
#lichtenberg table{
  width: 100%;
}
#lichtenberg td.coverage {
  position: relative;
  background-color: #dcdcdc;
  min-width: 60px;
  font-size: 80%;
  z-index: 0;
}
#lichtenberg td.coverage .covbar {
  width: attr(data-covered);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height:100%;
  content: "";
  z-index: 0;
}

#lichtenberg tr[data-content="filename"]{
  cursor: pointer;
  border-radius: 4px;
  z-index: -4;
}

#lichtenberg tr[data-content="filename"]:hover{
  background-color: aliceblue;
}

#lichtenberg td[colspan] {
  padding-left: 12px;
  border-left: 4px solid hsl(0, 0%, 86%);
}

#lichtenberg td.coverage .covbar.acceptable {
  background-color: hsl(147, 62%, 61%);
}

#lichtenberg td.coverage .covbar.iffy {
  background-color: hsl(60, 77%, 69%);
}

#lichtenberg td.coverage .covbar.unacceptable {
  background-color: hsl(0, 77%, 69%);
}

#lichtenberg .cov-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 2px;
}

#lichtenberg code.coverage {
  font-face: monospace;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  display: block;
  margin: 4px;
  padding: 2px 3px;
  margin-left: 8px;
}
/*
#lichtenberg code.coverage:hover {
  background-color: hsla(208, 100%, 42%, 0.1);
}

#lichtenberg code.coverage:hover, #lichtenberg code.coverage:hover code {
  border-top: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 60%);
  border-right: 1px solid hsl(0, 0%, 60%);
}
*/
#lichtenberg code.coverage.passed {
  border-left: 3px solid hsl(147, 62%, 61%);
}

#lichtenberg code.coverage.failed {
  border-left: 3px solid hsl(0, 77%, 69%);
}

#lichtenberg code.coverage.display {
  border-left: 3px solid hsl(200, 62%, 61%);
}

#lichtenberg tr.collapsed {
  display: none;
}

#lichtenberg code pre {
  margin: -1px;
}
